body{
    margin: 0;
    font-family: 'Noto Sans TC';
}
.img{
    margin: auto;
    width: 80vw;
    margin-top: 20px;
}
.text{
    margin: auto;
    width: 80vw;
}
.left-void{
    margin-top: 100vh;
    margin-left: 10vw;
    float: left;
}
.right-void{
    margin-top: 100vh;
    margin-right: 10vw;
    float: right;
}

@media only screen and (max-width: 1600px){
    .img{
        width: 60vw;
    }
    .text{
        width: 60vw;
    }
    .left-void{
        margin-left: 20vw;
    }
    .right-void{
        margin-right: 20vw;
    }
}
@media only screen and (max-width: 1080px){
    .img{
        width: 80vw;
    }
    .text{
        width: 80vw;
    }
    .left-void{
        margin-left: 10vw;
    }
    .right-void{
        margin-right: 10vw;
    }
}
@media only screen and (max-width: 640px){
    .img{
        width: 95vw;
    }
    .text{
        width: 95vw;
    }
    .left-void{
        margin-left: 2.5vw;
    }
    .right-void{
        margin-right: 2.5vw;
    }
}